@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  @apply text-primary font-semibold text-2xl;
}

form {
  @apply px-5 py-10 bg-opacity-80 bg-secondary mx-10 md:w-1/3 md:mx-auto rounded-md my-20;
}

label {
  @apply block text-text my-2;
}

input {
  @apply border-primary border focus:outline-none rounded-md w-full px-2 py-1;
}

.submit-button {
  @apply bg-primary mt-5 px-4 rounded-xl font-normal text-secondary w-full py-1.5;
}
@media print {
  body * {
    visibility: hidden;
  }

  .heading{
    display: inline;
  }

  .receipt-container,
  .receipt-container * {
    visibility: visible;
  }

  .receipt-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
